html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

hr {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

#container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1108px !important;
  min-width: 320px;
}

#parentDiv {
  border: 4px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin: 0 auto;
}

#parentDiv #imgDiv {
  text-align: center;
}

#parentDiv img {
  max-width: 100%;
  border: 2px solid black;
  width: 200px;
}

#parentDiv #paragraph {
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#parentDiv #title {
  padding-left: 20px;
  text-decoration: underline;
}
